@import "@material/typography/dist/mdc.typography";
@import "@material/image-list/dist/mdc.image-list";
@import "@material/image-list/mixins";
@import "@material/ripple/dist/mdc.ripple";
@import "@material/theme/color-palette";

$breakpoints: (
  mobile:  320px,
  tablet:  599px,
);

$component-list-gutter-size: 8px;

body {
  margin: 0;
  padding-bottom: 100px;
}

#catalog-image-list {
  @include mdc-image-list-aspect(1); // Images are square
  @include mdc-image-list-standard-columns(4, $component-list-gutter-size);

  max-width: 1000px;
  padding-top: 128px;
}

@media (max-width: map-get($breakpoints, tablet)) {
  #catalog-image-list {
    @include mdc-image-list-standard-columns(3, $component-list-gutter-size);
  }
}

@media (max-width: map-get($breakpoints, mobile)) {
  #catalog-image-list {
    @include mdc-image-list-standard-columns(2, $component-list-gutter-size);
  }
}
.catalog-image-list-item-container {
  background-color: $material-color-grey-100;
}

.catalog-image-list-label {
  font-weight: 500;
  color: $material-color-grey-900;
}

a.catalog-image-link {
  text-decoration: none;
}

// Needed until the following PR gets resolved
// https://github.com/material-components/material-components-web/pull/2704
@media (max-width: 599px) {
  .mdc-top-app-bar--fixed-adjust {
    margin-top: 0;
    padding-top: 56px;
  }
}
