@import "@material/typography/dist/mdc.typography";
@import "@material/image-list/dist/mdc.image-list";
@import "@material/image-list/mixins";
@import "@material/theme/color-palette";

$breakpoints: (
  mobile:  320px,
  tablet:  599px,
);

body {
  margin: 0;
  padding-bottom: 100px;
}

#catalog-image-list {
  @include mdc-image-list-aspect(1); // Images are square
  @include mdc-image-list-standard-columns(5, 6px);

  max-width: 1000px;
}

@media (max-width: map-get($breakpoints, tablet)) {
  #catalog-image-list {
    @include mdc-image-list-standard-columns(3, 6px);
  }
}

@media (max-width: map-get($breakpoints, mobile)) {
  #catalog-image-list {
    @include mdc-image-list-standard-columns(2, 6px);
  }
}
.catalog-image-list-item-container {
  background-color: $material-color-grey-100;
}

.catalog-image-list-label {
  font-weight: 500;
  text-decoration: none;
  color: $material-color-grey-900;
}

.catalog-image-list-image {
  width: 80px;
  margin: auto;
}

//// Needed until the following PR gets resolved
//// https://github.com/material-components/material-components-web/pull/2643
//.mdc-top-app-bar--fixed-adjust {
//  margin-top: 0;
//  padding-top: 64px;
//}
