@import "@material/button/mdc-button";
@import "@material/button/mixins";

.demo-button {
  margin: 8px 16px;
}

.hero-button {
  margin: 16px 32px;
}

.hero-button-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  @media screen and (max-width: 600px) {
    flex-flow: column nowrap;
  }
}

.demo-button-shaped {
  @include mdc-button-shape-radius(50%);
}
