// Pre-compiled CSS
@import "@material/button/dist/mdc.button";
@import "@material/card/dist/mdc.card";
@import "@material/icon-toggle/dist/mdc.icon-toggle";
@import "@material/ripple/dist/mdc.ripple";

// Sass mixins
@import "@material/ripple/mixins";
@import "@material/rtl/mixins";
@import "@material/theme/mixins";
@import "@material/theme/variables";

//
// Card container
//

.demo-card {
  width: 350px;
  margin: 48px 0;
}

.demo-card--hero {
  margin: 0;
}

//
// Book card
//

.demo-card__primary {
  padding: 1rem;
}

.demo-card__title {
  margin: 0;
}

.demo-card__subtitle {
  @include mdc-theme-prop(color, text-secondary-on-background);

  margin: 0;
}

.demo-card__secondary {
  @include mdc-theme-prop(color, text-secondary-on-background);

  padding: 0 1rem 8px 1rem;
}
