@import "@material/chips/dist/mdc.chips";

.catalog-input-chips {
  border-bottom: 1px solid rgba(0, 0, 0, .54);
  max-width: 700px;
}

.mdc-chip-set--input {
  display: flex;
  align-items: center;
  width: 100%;
}

.catalog-input {
  flex: 1 0 auto;
  flex-wrap: nowrap;
  height: 32px;
  border: none;
  outline: none;
}