.component-catalog-panel {
  margin-top: 24px;

  &.component-catalog-panel--v2-hero &__header {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column wrap;
    max-width: 1200px;
    max-height: 600px
  }

  &__hero-area {
    height: 100%;
  }

  &__header-elements {
    max-width: 300px;
  }

  .hero {
    margin-left: 24px;
  }

  .hero-options {
    flex: 1 1 auto;
  }

  .hero-component {
    order: 4;
    flex: 1 1 100%;
    height: 600px;
  }

}

@media screen and (max-width: 1100px) {
  .component-catalog-panel {
    &.component-catalog-panel--v2-hero .hero-component {
      order: 0;
      flex: 1 1 auto;
      height: auto;
    }

    &__header-elements {
      max-width: 1200px;
    }

    &__header {
      flex-flow: column nowrap;
      max-height: none;
    }
  }
}

