@import "@material/layout-grid/dist/mdc.layout-grid";
@import "@material/list/dist/mdc.list";
@import "@material/typography/mixins";

.hero {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  min-height: 360px;
  padding: 24px;
  background-color: rgba(0, 0, 0, .05);
}

.sidebar-active {
  font-weight: 600;
}

.demo-wrapper {
  max-width: 1000px;
}

.demo-title {
  border-bottom: 1px solid rgba(0, 0, 0, .87);
}

.resources-icon {
  width: 32px;
}

.demo-panel {
  display: flex;
}

.demo-drawer {
  z-index: 1;
}

.demo-content--animating-open {
  transition: 200ms transform cubic-bezier(.4, 0, .2, 1) 50ms;
}

.demo-content--animating-close {
  transition: 125ms transform cubic-bezier(.4, 0, .2, 1);
}
