@import "@material/list/dist/mdc.list";
@import "@material/typography/mixins";
@import "./variables";

.hero {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  min-height: 360px;
  padding: 24px;
  background-color: $catalog-hero-background-color;
}

.sidebar-active {
  font-weight: 600;
}

.demo-title {
  border-bottom: 1px solid rgba(0, 0, 0, .87);
}

.resources-icon {
  width: 32px;
}

.demo-panel {
  display: flex;
}

.demo-drawer {
  z-index: 1;

  .mdc-list-item:not(.sidebar-active) {
    font-weight: 400;
  }
}

.demo-content--animating-open {
  transition: 200ms transform cubic-bezier(.4, 0, .2, 1) 50ms;
}

.demo-content--animating-close {
  transition: 125ms transform cubic-bezier(.4, 0, .2, 1);
}

.demo-content {
  width: 900px;
  margin: 0 auto;
  padding: 40px 16px 100px;
}

@keyframes fadein {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes slideup {
  0% {
    transform: translateY(0)
  }

  100% {
    transform: translateY(-16px)
  }
}

@keyframes slidedown {
  0% {
    transform: translateY(0)
  }

  100% {
    transform: translateY(16px)
  }
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  animation: fadein .1s cubic-bezier(.4,0,1,1) .1s reverse forwards, slidedown .2s cubic-bezier(.4,0,1,1) forwards;
}

.fade-exit {
  opacity: 0;
}

.fade-exit.fade-exit-active {
  animation: fadein .1s cubic-bezier(.4,0,1,1) .1s reverse forwards, slideup .2s cubic-bezier(.4,0,1,1) forwards;
}