@import '@material/drawer';
@import '@material/theme/mixins';

.demos-display {
  display: flex;
  flex-wrap: wrap;
  min-height: 200px;
}

.demo {
  display: inline-block;
  flex: 1 1 45%;
  justify-content: space-around;
  min-height: 200px;
  min-width: 400px;
  padding: 15px;
}

.frame {
  width: 100%;
  height: 200px;
}

.hero-drawer {
  .mdc-drawer__header {
    @include mdc-theme-prop(background-color, primary);
  }
}
