@import "@material/drawer/mdc-drawer";
@import '@material/theme/mixins';

.drawer-header-flex {
  display: inline-flex;
  flex: 1 1 auto;
  box-sizing: border-box;
}

.drawer-container-flex {
  display: inline-flex;
}

.mdc-drawer__header {
  @include mdc-theme-prop(background-color, primary);
  @include mdc-theme-prop(color, on-primary);
}
