@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/theme/color-palette";
@import "@material/top-app-bar/mixins";

.catalog-top-app-bar {
  @include mdc-top-app-bar-fill-color($material-color-grey-900);

  position: absolute;
}

.catalog-top-app-bar__title {
  text-transform: uppercase;
  font-family: Roboto Mono, serif;
  font-weight: 400;
}

.catalog-top-app-bar__title--small-screen {
  display: none;
}

@media (max-width: 599px) {
  .catalog-top-app-bar__title--small-screen {
    display: inline-block;
  }

  .catalog-top-app-bar__title--large-screen {
    display: none;
  }
}
