@import '@material/tab/mixins';
@import '@material/tab-indicator/mixins';
@import '@material/ripple/mixins';
@import '@material/chips/mixins';
@import './ComponentPage';

$heroBackgroundColor: #f7f7f7;

.catalog-hero-tab-bar {
  width: 100%;
  background-color: white;
}

.hero-component {
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}

.tab-content,
.tab-container {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 100%;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: $heroBackgroundColor;
}

.tab-container {
  min-height: 360px;
  position: relative;
};

.highlight-html {
  width: 100%;
  max-height: 500px;
}

.hero-tab {
  .mdc-tab-indicator {
    @include mdc-tab-indicator-underline-color(black);
  }
  &.mdc-tab--active {
    @include mdc-tab-text-label-color(black);
  }
  .mdc-tab__ripple {
    @include mdc-states(black);
  }
}

.hero-options {
  border-radius: 4px;
  max-height: 312px;
  width: 100%;

  .mdc-list-item {
    height: auto;
  }

  .catalog-tf-list-item {
    min-height: 65px;
    overflow: visible;
  }

  .mdc-chip-set {
    padding: 4px 0 4px 0;

    .mdc-chip {
      margin: 0 4px 0 0;
    }
  }
}

.copy-all-button.copy-all-button {
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.hero-component__filter-chip-set-option .mdc-chip {
  @include mdc-chip-shape-radius(4px);
  @include mdc-chip-fill-color(white);
  @include mdc-chip-outline(1px, solid, $heroBackgroundColor);

  &.mdc-chip--selected {
    @include mdc-chip-fill-color($heroBackgroundColor);
  }
}