@import '@material/tab/mixins';
@import '@material/tab-indicator/mixins';
@import '@material/ripple/mixins';
@import './ComponentPage';

.catalog-hero-tab-bar {
  width: 100%;
  height: 100%;
  background-color: white;
}

.heroComponent {
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tab-content,
.tab-container {
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 100%;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.tab-container {
  min-height: 360px;
  position: relative;
};

.highlight-html {
  width: 100%;
  max-height: 500px;
}

.hero-tab {
  .mdc-tab-indicator {
    @include mdc-tab-indicator-underline-color(black);
  }
  &.mdc-tab--active {
    @include mdc-tab-text-label-color(black);
  }
  .mdc-tab__ripple {
    @include mdc-states(black);
  }
}

.hero-options {
  border-radius: 4px;
  height: 100%;
  min-height: 312px;
  width: 100%;

  .mdc-list-item {
    height: 40px
  }

  .catalog-tf-list-item {
    min-height: 60px;
  }
}

.copy-all-button.copy-all-button {
  position: absolute;
  right: 12px;
  bottom: 12px;
}
