@import '@material/tab/mixins';
@import '@material/tab-indicator/mixins';
@import '@material/ripple/mixins';
@import './ComponentPage';

.catalog-hero-tab-bar {
  width: 100%;
  height: 100%;
  background-color: white;
}

.heroComponent {
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  min-height: 360px;
  background-color: $catalog-hero-background-color;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.tab-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.tab-container {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
};

.highlight-html {
  width: 100%;
}

.hero-tab {
  .mdc-tab-indicator {
    @include mdc-tab-indicator-underline-color(black);
  }
  &.mdc-tab--active {
    @include mdc-tab-text-label-color(black);
  }
  .mdc-tab__ripple {
    @include mdc-states(black);
  }
}

.hero-options {
  width: 300px;
  border-radius: 4px;
  height: 100%;
  min-height: 312px;

  .mdc-list-item {
    height: 40px;
    overflow: visible
  }
}