@import "@material/list/dist/mdc.list";

.hero-list {
  background: white;
}

.demo-list {
  max-width: 600px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.mdc-list--avatar-list .mdc-list-item__graphic {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}
