@import "@material/snackbar/dist/mdc.snackbar";

.snackbar-hero .mdc-snackbar {
  position: relative;
  left: auto;
}

.snackbar-hero .mdc-snackbar--active {
  transform: none;
}

.snackbar-demo-button {
  margin: 8px 16px;
}
