@import "@material/theme/variables";

.survey-banner {
  background-color: $mdc-theme-primary;
  color: $mdc-theme-on-primary;
  padding: 16px 0;
  width: 100%;
}

.demo-content .survey-banner {
  padding: 16px; // Overflow over demo-content padding
}

.survey-banner__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.survey-icon {
  margin-right: 12px;
  width: 24px; // Avoid displacement / jumping before/after icon font loads
}

.survey-link {
  color: $mdc-theme-on-primary;
}

.survey-text {
  margin: 0;
}
