@import "@material/textfield/mdc-text-field";
@import "@material/textfield/mixins";

.text-field-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

  .text-field {
    margin-right: 8px;
  }
}

.text-field-row-fullwidth {
  display: block;

  .text-field-container {
    margin-bottom: 8px;
  }
}

.text-field-variant-container {
  display: flex;
}

.text-field-container {
  min-width: 200px;
}

.demo-text-field-shaped {
  @include mdc-text-field-outline-shape-radius(50%);
}
