.theme-demo {
  @import "@material/theme/color-palette";

  $mdc-theme-primary: #fcb8ab;
  $mdc-theme-secondary: #feeae6;
  $mdc-theme-surface: #fffbfa;
  $mdc-theme-background: #ffffff;
  $mdc-theme-on-primary: #442b2d;
  $mdc-theme-on-secondary: #442c2e;
  $mdc-theme-on-surface: #442c2e;
  $mdc-theme-on-background: #442c2e;

  $mdc-typography-font-family: Rubik, sans-serif;

  $mdc-typography-styles-headline5: (
      font-weight: 500
  );

  $mdc-typography-styles-subtitle1: (
      font-weight: 400,
  );

  // letter-spacing from Sketch is in pixels and is relative to the font size in pixels.
  // This is calculated using $letter-spacing / ($font-size * $root-em)
  $mdc-typography-styles-button: (
      letter-spacing: calc(1 / (.875 * 16) * 1em),
  );

  $mdc-typography-styles-overline: (
      font-size: .875rem, // 14sp
      font-weight: 400,
      letter-spacing: calc(2.1 / (.875 * 16) * 1em),
  );

  @import "@material/theme/mdc-theme";
  @import "@material/button/mdc-button";
  @import "@material/card/mdc-card";
  @import "@material/checkbox/mdc-checkbox";
  @import "@material/dialog/mdc-dialog";
  @import "@material/drawer/temporary/mdc-temporary-drawer";
  @import "@material/fab/mdc-fab";
  @import "@material/form-field/mdc-form-field";
  @import "@material/icon-toggle/mdc-icon-toggle";
  @import "@material/linear-progress/mdc-linear-progress";
  @import "@material/radio/mdc-radio";
  @import "@material/ripple/mdc-ripple";
  @import "@material/select/mdc-select";
  @import "@material/slider/mdc-slider";
  @import "@material/slider/mdc-slider";
  @import "@material/switch/mdc-switch";
  @import "@material/textfield/mdc-text-field";
  @import "@material/theme/color-palette";
  @import "@material/theme/mixins";
  @import "@material/theme/variables";
  @import "@material/top-app-bar/mdc-top-app-bar";

  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }

  // Default padding on all examples.
  section.example {
    margin: 24px;
    padding: 24px;
  }

  section.example {
    h2 {
      margin-left: 0;
    }
  }

  // stylelint-disable selector-class-pattern, selector-max-type, scss/dollar-variable-pattern

  $demo-section-margin: 48px;

  figure {
    margin-left: 0;
    margin-right: 0;
  }

  //
  // Page content
  //

  .demo-main {
    padding: 24px;
  }

  .demo-component-section {
    position: relative;
  }

  .demo-component-section + .demo-component-section {
    margin-top: $demo-section-margin;
  }

  .demo-component-section::before {
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    left: -16px;
    right: -16px;
    bottom: -16px;
    z-index: -1;
    background: $material-color-yellow-700;
    opacity: 0;
    transition: opacity 1s;
  }

  //
  // CSS class demo
  //

  .demo-theme-color-section + .demo-theme-color-section {
    margin-top: 36px;
  }

  .demo-theme-color-section__row {
    display: flex;
    flex-wrap: wrap;
  }

  .demo-fieldset--color {
    margin-right: 36px;
  }

  .demo-theme-color-group {
    padding: 16px 0;
  }

  .demo-theme-color-swatches {
    display: inline-flex;
    flex-direction: column;
    margin-right: 16px;
  }

  .demo-theme-color-swatch {
    @include mdc-elevation(1);

    display: inline-block;
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 8px;
    border-radius: 4px;
  }

  .demo-theme-bg--custom-light {
    background-color: #dddddd;
  }

  .demo-theme-bg--custom-dark {
    background-color: #1d1d1d;
  }

  .demo-theme-text-row {
    display: inline-flex;
    box-sizing: border-box;
    padding: 16px;
    border: 1px solid #f0f0f0;
    align-items: center;
    flex-direction: column;
  }

  @media(min-width: 768px) {
    .demo-theme-text-row {
      flex-direction: row;
    }
  }

  .demo-theme-text-style {
    padding: 0 16px;
  }

  //
  // Button demo
  //

  .demo-fieldset--button .mdc-button {
    margin-right: 10px;
  }

  .demo-fieldset--button + .demo-fieldset--button {
    margin-top: 16px;
  }

  //
  // Card demo
  //

  .demo-card-wrapper {
    display: inline-block;
    margin: 0 24px 24px 0;
    vertical-align: top;
  }

  //
  // Checkbox demo
  //

  .demo-checkbox-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .demo-checkbox-wrapper {
    margin-right: 10px;
  }

  .demo-checkbox-wrapper + .demo-checkbox-toggle-button {
    margin-left: 20px;
  }

  //
  // Dialog demo
  //

  .demo-dialog {
    position: relative;
    justify-content: flex-start;
    z-index: auto;
  }

  //
  // Drawer demo
  //

  .demo-drawer-toggle {
    vertical-align: middle;
    cursor: pointer;
  }

  //
  // Floating Action Button (FAB) demo
  //

  .demo-fab-row {
    display: flex;
    flex-wrap: wrap;
  }

  .demo-fab {
    margin: 16px 0 0 0;
  }

  .demo-fab-tile {
    margin: 0 48px 1em 0;
  }

  .demo-fab-tile__title {
    font-weight: 500;
  }

  .demo-fab-tile__snippet {
    height: 2em;
  }

  //
  // Icon Toggle demo
  //

  .mdc-icon-toggle {
    // .material-icons and .mdc-icon-toggle each set different `display` values. Whichever CSS file is imported last
    // will win, so prevent them from fighting by specifying the value we want here.
    display: inline-flex;
  }

  .demo-icon-toggle-row {
    display: flex;
    flex-wrap: wrap;
  }

  .demo-icon-toggle-tile {
    width: 200px;
    margin: 0 10px 10px 0;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }

  //
  // Linear Progress demo
  //

  .demo-linear-progress-row {
    margin: 32px 0;
  }

  .demo-linear-progress-row + .demo-linear-progress-row {
    margin-top: 64px;
  }

  //
  // Radio Button demo
  //

  .demo-radio-group {
    display: inline-block;
    margin: 0 24px 24px 0;
  }

  .demo-radio-form-field {
    margin-right: 8px;
  }

  //
  // Switch demo
  //

  .demo-switch-wrapper {
    display: inline-block;
    margin: 16px 16px 0 0;
  }

  //
  // Tab Bar demo
  //

  .demo-figure--tab-bar + .demo-figure--tab-bar {
    margin-top: 36px;
  }

  .demo-tab-bar {
    margin: 0;
  }

  //
  // Text Field demo
  //

  .demo-text-field-wrapper {
    display: inline-block;
    margin: 16px 16px 0 0;
  }
}
