.demos-display {
  display: flex;
  flex-wrap: wrap;
  min-height: 200px;
}

.demo {
  display: inline-block;
  flex: 1 1 45%;
  justify-content: space-around;
  min-height: 200px;
  min-width: 400px;
  padding: 15px;
}

.frame {
  width: 100%;
  height: 200px;
}

.hero-top-app-bar {
  &.mdc-top-app-bar {
    position: relative;
    z-index: 0;
  }

  &:not(.mdc-top-app-bar--short-collapsed) {
    width: 80%;
    min-width: 300px;
  }
}
