@import "@material/button/mdc-button";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/typography/mdc-typography";
@import "@material/list/mdc-list";

a {
  text-decoration: none;
}

.hero {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 360px;
  min-height: 360px;
  background-color: rgba(0, 0, 0, .05);
}

.hero button {
  margin-left: 32px;
  margin-right: 32px;
}

.sidebar-active {
  font-weight: 500;
}
