@import "@material/typography/dist/mdc.typography";
@import "@material/image-list/dist/mdc.image-list";
@import "@material/image-list/mixins";
@import "@material/ripple/dist/mdc.ripple";

body {
  margin: 0;
  padding-bottom: 100px;
}

#catalog-image-list {
  @include mdc-image-list-aspect(1.25); // Images are 5:4
  @include mdc-image-list-standard-columns(5);

  max-width: 1000px;
}

@media (max-width: 599px) {
  #catalog-image-list {
    @include mdc-image-list-standard-columns(3);
  }
}

.catalog-image-list-item {
  text-decoration: none;
}

.catalog-image-list-supporting {
  padding-left: 20px;
}

.catalog-image-list-label {
  font-weight: 500;
}

.catalog-image-list-image {
  width: 80px;
  margin: auto;
}
